.locationDetail h1
	color #005798
	margin-bottom 0
	text-align center
.locationTitle p
	color #333333
	margin-top 0
	text-align center
.locationDetail .col1
	width 600px
	float left
.locationDetail .col2
	width 300px
	float right
.locationDetail .smallMap 
	width 100% 