.subPages .hero
	.about
		margin-left -100px
	.fundraisers
		margin-left  -150px
	.enviro
		margin-left	-150px
	.contact
		margin-left -120px
	.faq 
		margin-left -60px
.subPages
	h2
		color #006bba
	h3
		color #006bba
	h4
		color #006bba